<!-- <%= JSON.stringify(locals) %> -->

<h1>Tiny App </h1>


<% if (!locals.user) { %>
    <a href='/urls/register'>Register Now</a>  
  <a href='/urls/login'>Login Now</a>  
  
    <% }else { %>

      <p>  <h5>Hello, <%= user.email %>  </h5>
        <form method='POST' action='/logout'>
          <input type='submit' value='Logout'>
        </form></p>
    <% }; %>
