<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<%- include partials/_header.ejs %>
<body>
    
    <h2>This is Index Page</h2> 
 <ul> 
    <% for (const keys in urls) { %>
   <li><%= keys %> - <a href='<%= urls[keys].shortURL %>'><%= urls[keys].longURL%></a></li>
    <% } %>
   </ul>
   <a href='/urls/new'>Shorten New URL</a> 
</body>
</html>


